@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scrollbar-color: #d3d3d3 #f3f3f3;
}

@layer base {
  :root {
    --main-color: #4880ff;
    --sec-color: #909090;
    --hover-color: #f3f4f6;
    --background-color: #f5f6fa;
  }
  .trans {
    @apply transition-all duration-300;
  }
  .inputD {
    @apply outline-none focus:ring-1 focus:ring-blue-500 border border-gray-300 rounded transition-all duration-300;
  }
  .errorD {
    @apply border-red-500 focus:ring-red-500;
  }
  .msgError {
    @apply text-red-500 bg-red-200 px-2 rounded text-sm;
  }
  .beforeElement {
    position: relative;
  }

  .beforeElement::before {
    content: "";
    @apply absolute top-0 left-0 -translate-x-[21px] bg-[#4880FF] rounded-r-md w-1.5 h-full;
  }
}

input:checked + div > div {
  background-color: #3b82f6;
}
