@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    scrollbar-color: #D3D3D3 #f3f3f3; 
}


@layer base { 
    :root  { 
        --main-color: #4880FF;
        --sec-color: #909090;
        --hover-color: #f3f4f6;
        --background-color: #F5F6FA;
    }
    .trans { 
        @apply transition-all duration-300 ;
    }
    .beforeElement {
        position: relative;
    }

    .beforeElement::before {
        content: "";
        @apply absolute top-0 left-0 -translate-x-[21px] bg-[#4880FF] rounded-r-md w-1.5 h-full;
    }
}

input:checked + div > div {
    background-color: #3b82f6;
  }